body {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.title {
    margin-top: 100px;
}

.myOption {
    display: inline-block;
}

.compOption {
    display: inline-block;
}

.rock {
    height: 100px;
    width: 100px;
    font-size: 50px;
}

.paper {
    height: 100px;
    width: 100px;
    font-size: 50px;
}

.scissors {
    height: 100px;
    width: 100px;
    font-size: 50px;
}

.yourOptionDiv {
    display: inline-block;
    position: relative;
    right: 25%;
    margin-top: 20px;
    width: 50%;
}

.compOptionDiv {
    display: inline-block;
    position: relative;
    left: 25%;
    margin-top: 20px;
    width: 50%;
}

.parent {
    display: inline-flex;
}